* {
  box-sizing: border-box;
}

body {
  background: #232125;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

.element-bg {
  background: #363437;
}

.pointer {
  cursor: pointer;
}

.page-title {
  margin-left: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-space {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
